accelerate==1.6.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.11
aiosignal==1.3.2
angle_emb==0.5.6
annotated-types==0.7.0
anyio==4.9.0
apturl==0.5.2
async-lru==2.0.5
async-timeout==5.0.1
attrs==25.3.0
babel==2.17.0
bcrypt==3.2.0
beautifulsoup4==4.13.3
bitsandbytes==0.45.5
blinker==1.4
blis==1.3.0
boltons==25.0.0
Brlapi==0.8.3
cachetools==5.5.2
catalogue==2.0.10
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.21.0
colorama==0.4.4
coloredlogs==15.0.1
command-not-found==0.3
confection==0.1.5
contourpy==1.3.2
courlan==1.3.2
cryptography==3.4.8
cupshelpers==1.0
cycler==0.12.1
cymem==2.0.11
cytoolz==1.0.1
datasets==3.5.0
dateparser==1.2.1
dbus-python==1.2.18
defer==1.0.6
dill==0.3.8
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
docker-pycreds==0.4.0
duckduckgo_search==7.2.1
duplicity==0.8.21
einops==0.8.1
elastic-transport==8.17.1
elasticsearch==8.17.2
exceptiongroup==1.2.2
fastapi==0.115.11
fasteners==0.14.1
filelock==3.17.0
floret==0.10.5
fonttools==4.58.2
frozenlist==1.5.0
fsspec==2024.12.0
future==0.18.2
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.1.1
gyp==0.1
h11==0.14.0
htmldate==1.9.3
httpcore==1.0.7
httplib2==0.20.2
httpx==0.28.1
huggingface-hub==0.30.1
humanfriendly==10.0
idna==3.3
importlib-metadata==4.6.4
iotop==0.6
jeepney==0.7.1
jellyfish==1.1.3
Jinja2==3.1.6
jiter==0.9.0
joblib==1.4.2
jusText==3.0.2
keyring==23.5.0
kiwisolver==1.4.8
langcodes==3.5.0
language-selector==0.1
language_data==1.3.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
loguru==0.7.3
louis==3.20.0
lxml==5.3.1
macaroonbakery==1.3.1
Mako==1.1.3
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==2.0.1
matplotlib==3.10.3
mdurl==0.1.2
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
multidict==6.3.2
multiprocess==0.70.16
murmurhash==1.0.12
netifaces==0.11.0
networkx==3.4.2
nltk==3.9.1
numpy==2.2.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.0
olefile==0.46
openai==1.66.3
orjson==3.10.15
packaging==24.2
pandas==2.2.3
paramiko==2.9.3
peft==0.15.1
pexpect==4.8.0
pillow==11.1.0
platformdirs==4.3.6
preshed==3.0.9
prettytable==3.15.1
primp==0.14.0
propcache==0.3.0
protobuf==5.29.3
proxy.py==2.4.10
psutil==7.0.0
ptyprocess==0.7.0
pyarrow==19.0.1
pycairo==1.20.1
pycups==2.0.1
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
Pygments==2.19.1
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==2.4.7
pyphen==0.17.2
pyRFC3339==1.1
PySocks==1.7.1
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.1
pytz==2024.2
pyxdg==0.27
PyYAML==5.4.1
RapidFuzz==3.12.2
regex==2024.11.6
reportlab==3.6.8
requests==2.32.3
requests-file==2.1.0
retrying==1.3.4
rich==14.0.0
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
screen-resolution-extra==0.0.0
seaborn==0.13.2
SecretStorage==3.3.1
sentry-sdk==2.22.0
setproctitle==1.3.5
shellingham==1.5.4
six==1.16.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
spacy==3.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.39
srsly==2.5.1
ssh-import-id==5.11
starlette==0.46.1
sympy==1.13.1
systemd-python==234
textacy==0.13.0
thefuzz==0.22.1
thinc==8.3.6
threadpoolctl==3.6.0
tld==0.13
tldextract==5.1.3
tokenizers==0.21.1
toolz==1.0.0
torch==2.6.0
tqdm==4.67.1
trafilatura==2.0.0
transformers==4.51.0
triton==3.2.0
typer==0.15.2
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.3.0
usb-creator==0.3.7
uvicorn==0.34.0
virtualenv==20.13.0+ds
wadllib==1.3.6
wandb==0.19.8
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
wikipedia==1.4.0
wrapt==1.17.2
xdg==5
xkit==0.0.0
xxhash==3.5.0
yarl==1.19.0
zipp==1.0.0
